<div class="task">
	<div class="title"><%= task.title %></div>
	<div class="footer">
		<div class="state"><%= i18n('state.'+task.state) %></div>
		<div class="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</div>
	</div>
</div>