@font-face
{
	font-family: Averia;
	src: url('../fonts/AveriaSerif-BoldItalic.ttf');
}
@font-face
{
	font-family: Champagne;
	src: url('../fonts/Champagne & Limousines.ttf');
}

.mouse-pointer {
	cursor: pointer !important;
}

body {
	/*background: url('../images/black_lozenge.png');*/
	background-color: #1f1f1f;
	font-size: 18px;
	min-width: 370px!important;
}

h1 {
	color: #fff!important;
}

.row {
	margin: 0!important;
}


#add-task-div {
	margin-top: 5px!important;
}

#task-div {
	margin-top: 15px!important;
}

.task-categogy {
	background: #fff;
	padding: 0!important;
	/*border-radius: 5px;*/
	border-left: 3px solid #1f1f1f;
}

.new-task {
	color: #627e9c;
	border-bottom: 1px solid #d7e3f0;
}

/*.new-task .sub-task, .task-title .task-delete {
	float: left;
}*/

.task-categogy-title {
	padding: 20px;
	background-color: #f6fafe;
	color: #6f8ba9;
	border-bottom: 1px solid #d7e3f0;
}

.sub-task, .task-title, .task-delete {
	padding: 20px;
}

.sub-task {
	border-right: 1px dashed #d7e3f0;
	width: 15%;
}

.task-title {
	width: 73%;
	font-size: 12px;
}

.task-delete {
	color: #ec974b;
}