<div class="container">

	<div class="row" id='add-task-div'>
		<div class='col-md-10 col-md-offset-1 col-xs-12'>
			<form ng-submit='add(parent)' class="form-inline" role="form">
				<div class="row">
					<div class="form-group col-md-8 col-xs-8">
						<input type="text" class="form-control input-lg" id="titleText" placeholder="Enter new Task here" ng-model='titleText'>
					</div>
					<div class="form-group col-md-3 col-xs-3">
						<select class='form-control input-lg' ng-model='stateText'>
							<option value='important' selected='selected'>Important</option>
							<option value='project'>Project</option>
							<option value='reminder'>Reminder</option>
						</select>
					</div>
					<div class="col-md-1 col-xs-1">
						<button type="submit" id='btn-add-task' class="btn btn-primary btn-lg"><span class='glyphicon glyphicon-plus'></span></button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<div class="row" id='task-div'>
		<div class="col-md-4 task-categogy">

			<div class="row">
				<div class="col-md-12 col-xs-12 task-categogy-title">Important</div>
			</div>

			<div ng-repeat='task in tasks | filter: {state: "important"}' class="new-task row">

				<div class="sub-task col-md-2 col-xs-2">2</div>

				<div class='task-title col-md-9 col-xs-9'><a href="#/task/{{task.id}}">{{task.title}}</a></div>

				<div class="task-delete col-md-1 col-xs-1">
					<span ng-click='delete(task.id)' class="glyphicon glyphicon-trash mouse-pointer"></span>
				</div>

			</div>

		</div>

		<div class="col-md-4 task-categogy">

			<div class="row">
				<div class="col-md-12 col-xs-12 task-categogy-title">Project</div>
			</div>

			<div ng-repeat='task in tasks | filter: {state: "project"}' class="new-task row">

				<div class="sub-task col-md-2 col-xs-2">2</div>

				<div class='task-title col-md-9 col-xs-9'><a href="#/task/{{task.id}}">{{task.title}}</a></div>

				<div class="task-delete col-md-1 col-xs-1">
					<span ng-click='delete(task.id)' class="glyphicon glyphicon-trash mouse-pointer"></span>
				</div>

			</div>

		</div>

		<div class="col-md-4 task-categogy">

			<div class="row">
				<div class="col-md-12 cool-xs-12 task-categogy-title">Reminder</div>
			</div>

			<div ng-repeat='task in tasks | filter: {state: "reminder"}' class="new-task row">

				<div class="sub-task col-md-2 col-xs-2">2</div>

				<div class='task-title col-md-9 col-xs-9'><a href="#/task/{{task.id}}">{{task.title}}</a></div>

				<div class="task-delete col-md-1 col-xs-1">
					<span ng-click='delete(task.id)' class="glyphicon glyphicon-trash mouse-pointer"></span>
				</div>

			</div>

		</div>

	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('.dropdown-toggle').dropdown();
});
</script>